@media screen and (max-width:1000px) {
    #header1{
        opacity: 0.8;
        display: none;
        height: 1000px;
        width: 500px;;
        margin-left: 40%;
        flex-direction: column;
        background-color: gray;
      
       position: fixed;
        
    }
   #nav{
        opacity: 0.8;
        display: none;
        height: 1000px;
        width:200 px;
        margin-left: 0%;
        background: transparent;
      
       position: fixed;
        
   }
    #header1 a{
        margin-top: 10px;
        padding: 30px;
        color: black;
    }

    #exit {
        display: flex;
        height: fit-content;
        width: fit-content;
        background-color: transparent;
        border: none;
    }
   #exit img{
    height: 32px;
    width: 32px;
   }

   #enter{
    display: block;
    height: fit-content;
    width: fit-content;
    background-color: white;
    margin-left: 90%;
   }

   
}
